<h1 class="text-center font-bold text-5xl mt-5 mb-10">ListBox</h1>


<h2 class="text-center font-bold text-xl mt-5 mb-10">Button Element</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <div class="bg-white rounded-lg border border-1 border-gray-200 w-96 h-auto z-50">
            <div class="flex flex-nowrap flex-col items-center gap-2 last:pb-4 first:pt-4">

                <button class="w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5">
                    <span class="text-lg font-medium">User-1</span>
                </button>

                <button class="w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5">
                    <span class="text-lg font-medium">User-2</span>
                </button>

                <button class="w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5">
                    <span class="text-lg font-medium">User-3</span>
                </button>

            </div>
        </div>
    </div>
</div>


<h2 class="text-center font-bold text-xl mt-5 mb-10">List Element</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <!-- Start -->
        <div class="bg-white rounded-lg border border-1 border-gray-200 w-96 h-auto z-50">
            <ul class="list-none flex flex-nowrap flex-col items-center gap-2 last:pb-4 first:pt-4">

                <li
                    class="pl-4 w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5 text-lg font-medium flex flex-nowrap items-center justify-center">
                    User-1
                </li>

                <li
                    class="pl-4 w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5 text-lg font-medium flex flex-nowrap items-center justify-center">
                    User-2
                </li>

                <li
                    class="pl-4 w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5 text-lg font-medium flex flex-nowrap items-center justify-center">
                    User-3
                </li>

                <li
                    class="pl-4 w-11/12 h-12 rounded-lg ease-in-out duration-75 bg-white hover:bg-black/5 text-lg font-medium flex flex-nowrap items-center justify-center">
                    User-4
                </li>
            </ul>
        </div>
        <!-- End -->
    </div>
</div>



<h2 class="text-center font-bold text-xl mt-5 mb-10">Custom</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <div class="bg-white rounded shadow-2xl w-96 h-auto z-50 ">
            <div class="flex flex-nowrap flex-col items-center last:pb-4">

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

            </div>
        </div>
    </div>
</div>

<h2 class="text-center font-bold text-xl mt-5 mb-10">Scroll</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <div class="bg-white rounded shadow-2xl w-96 h-80 z-50 overflow-y-auto">
            <div class="flex flex-nowrap flex-col items-center last:pb-4">

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>
            </div>
        </div>
    </div>
</div>


<h2 class="text-center font-bold text-xl mt-5 mb-10">Hover And Focus</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <button
            class="peer/notification ease-in-out duration-300 text-lg font-bold px-4 py-4 text-black rounded-xl flex justify-center items-center hover:bg-black/5 focus:bg-black/10">
            <i class='bx bxs-bell bx-sm'></i>
        </button>
        <div
            class="absolute opacity-0 invisible bg-white rounded shadow-2xl w-96 h-auto -ml-40 mt-1 z-50 ease-in-out duration-700 peer-hover/notification:visible peer-hover/notification:opacity-100 peer-focus/notification:visible peer-focus/notification:opacity-100 ">
            <div class="flex flex-nowrap flex-col items-center last:pb-4">

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>

                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                    <span class="-ml-14">
                        <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                </button>
            </div>
        </div>
    </div>
</div>