<h1 class="text-center font-bold text-5xl mt-5 mb-10">ListBox</h1>

<h2 class="text-center font-bold text-xl mt-5 mb-10">Default</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <div class="bg-white rounded shadow-2xl max-h-sm w-96 h-auto z-50 ease-in-out duration-700">
            <div class="flex flex-nowrap flex-col items-center last:pb-4">
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-violet-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-violet-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-info-circle text-lg px-3 hover:bg-violet-200 rounded'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-violet-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-violet-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                    class='bx bx-info-circle text-lg px-3 hover:bg-violet-200 rounded'></i>
                </button>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center font-bold text-xl mt-5 mb-10">Scroll</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <div class="bg-white rounded shadow-2xl max-h-sm w-96 h-60 z-50 ease-in-out duration-700 overflow-y-auto">
            <div class="flex flex-nowrap flex-col items-center last:pb-4">
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-lime-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-lime-400 text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-info-circle text-lg px-3 hover:bg-lime-100 rounded'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-lime-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-lime-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                    class='bx bx-info-circle text-lg px-3 hover:bg-lime-100 rounded'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-lime-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-lime-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                    class='bx bx-info-circle text-lg px-3 hover:bg-lime-100 rounded'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-lime-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-lime-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                    class='bx bx-info-circle text-lg px-3 hover:bg-lime-100 rounded'></i>
                </button>
            </div>
        </div>
    </div>
</div>




<h2 class="text-center font-bold text-xl mt-5 mb-10">Hover And Focus</h2>
<div class="w-full h-96 flex flex-row flex-wrap justify-center gap-10">
    <div>
        <button
            class="peer/notification ease-in-out duration-300 text-lg font-bold px-4 py-4 text-black rounded-xl flex justify-center items-center hover:bg-violet-100 focus:bg-violet-100">
            <i class='bx bxs-bell bx-sm'></i>
        </button>
        <div
            class="absolute opacity-0 invisible bg-white rounded shadow-2xl max-h-sm w-96 h-60 -ml-40 mt-1 z-50 ease-in-out duration-700 peer-hover/notification:visible peer-hover/notification:opacity-100 peer-focus/notification:visible peer-focus/notification:opacity-100 ">
            <div class="flex flex-nowrap flex-col items-center">
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-violet-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-violet-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-chevron-right text-lg px-3 hover:bg-violet-200  rounded ease-in-out duration-300 hover:translate-x-0.5'></i>
                </button>
                <button
                    class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-violet-50 flex flex-nowrap flex-row justify-around items-center">
                    <span>
                        <i class='bx bx-user text-xl px-4 py-3 -ml-10 rounded-full bg-violet-400  text-white'></i>
                        <span class="ml-4 text-lg font-medium">User</span>
                    </span>
                    <i
                        class='bx bx-chevron-right text-lg px-3 hover:bg-violet-200  rounded ease-in-out duration-300 hover:translate-x-0.5'></i>
                </button>
            </div>
        </div>
    </div>
</div>