<nav class="w-full h-20 shadow-md flex flex-row justify-around items-center bg-white">
    <button (click)="openSidebar($event)"
        class="text-lg bg-white px-3 py-3 rounded-full flex justify-center items-center hover:bg-black/5 focus:bg-black/10">
        <i class='bx bx-menu bx-md'></i>
    </button>
    <div>
        <ul class="flex gap-10 list-none">
            <li>
                <!-- Notification Button -->
                <button
                    class="peer/notification ease-in-out duration-300 text-lg px-4 py-4 text-black rounded-full flex justify-center items-center hover:bg-black/5 focus:bg-black/10">
                    <i class='bx bxs-bell bx-sm'></i>
                </button>

                <div
                    class="absolute opacity-0 invisible bg-white rounded-lg shadow-2xl w-96 h-96 z-50 -ml-40 overflow-y-auto ease-in-out duration-700 bg-scroll peer-hover/notification:visible peer-hover/notification:opacity-100 peer-focus/notification:visible peer-focus/notification:opacity-100 ">
                    <div class="flex flex-nowrap flex-col items-center last:pb-4">

                        <button
                            class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                            <span class="-ml-14">
                                <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                                <span class="ml-4 text-lg font-medium">User</span>
                            </span>
                            <i
                                class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                        </button>

                        <button
                            class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                            <span class="-ml-14">
                                <i class='bx bxs-offer text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                                <span class="ml-4 text-lg font-medium">Offer</span>
                            </span>
                            <i
                                class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                        </button>

                        <button
                            class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                            <span class="-ml-14">
                                <i class='bx bx-user text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                                <span class="ml-4 text-lg font-medium">User</span>
                            </span>
                            <i
                                class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                        </button>
                        <button
                            class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                            <span class="-ml-14">
                                <i class='bx bx-cart text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                                <span class="ml-4 text-lg font-medium">Cart</span>
                            </span>
                            <i
                                class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                        </button>

                        <button
                            class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                            <span class="-ml-14">
                                <i class='bx bx-gift text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                                <span class="ml-4 text-lg font-medium">Gift</span>
                            </span>
                            <i
                                class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                        </button>
                        <button
                        class="mt-4 w-11/12 h-20 rounded-lg ease-in-out duration-300 bg-white hover:bg-gray-100 flex flex-nowrap flex-row justify-around items-center">
                        <span class="-ml-14">
                            <i class='bx bxs-offer text-xl px-4 py-3 rounded-full bg-black  text-white'></i>
                            <span class="ml-4 text-lg font-medium">Offer</span>
                        </span>
                        <i
                            class='bx bx-right-arrow-alt -mr-14 text-lg px-3 rounded-full hover:bg-gray-200 ease-in-out duration-300'></i>
                    </button>
                    </div>
                </div>

            </li>
            <li>
                <!-- Logout Button -->
                <button routerLink="/login"
                    class="text-lg font-bold px-4 py-4 text-black rounded-full flex justify-center items-center hover:bg-black/5">
                    <i class='bx bx-log-out bx-sm'></i>
                </button>
            </li>
        </ul>
    </div>
</nav>