<div class="w-full h-full flex flex-nowrap justify-center items-center">
    <form [formGroup]="loginForm" class="bg-white shadow-2xl w-96 h-80 flex flex-nowrap flex-col justify-center items-center gap-5 rounded last:pb-2">
        <h1 class="block text-center font-bold text-2xl">Welcome</h1>
        <div>
            <label for="username" class="block mb-2 font-medium opacity-70">Username</label>
            <input formControlName="username" autocomplete="username" id="username" type="text"
                class="font-medium block w-80 h-10 px-3 rounded-sm outline-0 ring-violet-300 ring-1 focus:ring-2 ease-in-out duration-300">
                <span class="text-xs text-red-500 absolute" *ngIf="usernameIsError">
                    Do not leave your username blank
                </span>
        </div>
        <div>
            <label for="password" class="block mb-2 font-medium opacity-70">Password</label>
            <input formControlName="password" autocomplete="current-password" id="password" type="password"
                class="font-medium block w-80 h-10 px-3 rounded-sm outline-0 ring-violet-300 ring-1 focus:ring-2 ease-in-out duration-300">
                <span class="text-xs text-red-500 absolute" *ngIf="passwordIsError">
                    Do not leave your password blank
                </span>
        </div>
        
        <button type="button" (click)="login()"
            class="flex flex-row flex-nowrap items-center justify-center gap-2 ease-in-out duration-500 w-80 h-11 mt-2 rounded-lg font-medium bg-violet-100 hover:bg-violet-200 hover:text-violet-900 focus:outline-1 focus:outline-violet-100">
            <i class='bx bx-log-in-circle text-lg' ></i>
            <span>Login</span>
        </button>

    </form>
</div>