<aside
    [class]=" 'fixed top-0 w-80 z-50 h-full bg-white shadow-2xl transition-all duration-1000' + (sidebarVisibilityStatus() ? ' left-0' : ' -left-96')"
    #sidebar>
    <header class="text-center text-3xl font-bold mt-10">Sidebar</header>
    <button (click)="close()"
        class="absolute bg-white w-10 h-10 ml-10 flex justify-center items-center text-black rounded-full top-10 right-3 shadow-lg hover:bg-black/5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
            </path>
        </svg>
    </button>
    <hr class="mt-5">
    <div class="h-full w-full overflow-y-auto flex flex-col items-center flex-nowrap gap-5 mt-5">

        @for (item of sidebarMenuItems; track item.key){
        @if(item.visible){
        <button routerLinkActive="text-violet-900 underline underline-offset-8" [routerLink]="item.path"
            class="flex flex-row flex-nowrap items-center  justify-center gap-2 transition ease-in-out duration-500 w-64 h-12 rounded-3xl font-medium hover:scale-105  hover:text-violet-900 focus:outline-1 outline-violet-100">
            <span>{{item.text}}</span>
        </button>
        }
        }
    </div>

</aside>