<nav class="fixed -left-96 top-0 w-80 z-50 h-full bg-white shadow-2xl transition-all duration-1000" #sidebar>
    <header class="text-center text-3xl font-bold mt-10">Sidebar</header>
    <button (click)="close()"
        class="absolute bg-white w-10 h-10 ml-10 flex justify-center items-center text-black rounded-full top-10 right-3 shadow-lg hover:bg-black/5">
        <i class='bx bx-x bx-sm'></i>
    </button>
    <hr class="mt-5">
    <div class="h-full w-full overflow-y-auto flex flex-col items-center flex-nowrap gap-5 mt-5">

        <ng-container *ngFor="let item of sidebarMenuItems">
            <button routerLinkActive="text-violet-900" [routerLink]="item.path" *ngIf="item.visible"
                class="flex flex-row flex-nowrap items-center  justify-center gap-2 transition ease-in-out duration-500 w-64 h-12 rounded-3xl font-medium hover:scale-105  hover:text-violet-900 focus:outline-1 outline-violet-100">
                <i [classList]="item.icon + ' text-2xl'"></i>
                <span>{{item.text}}</span>
            </button>
        </ng-container>
    </div>

</nav>

<main class="container mx-auto w-full h-full">
    <ng-content />
</main>