<h1 class="text-center font-bold text-5xl mt-5 mb-10">Table</h1>

<div class="w-full h-full flex flex-col items-center justify-around">

    <table class="w-full">
        <thead>
            <tr>
                <th class="border-2 border-gray-200 px-4 py-2">Id</th>
                <th class="border-2 border-gray-200 px-4 py-2">FirstName</th>
                <th class="border-2 border-gray-200 px-4 py-2">LastName</th>
                <th class="border-2 border-gray-200 px-4 py-2">Age</th>
                <th class="border-2 border-gray-200 px-4 py-2">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    1
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    A
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    B
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    18
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    Turkey
                </td>
            </tr>
            <tr>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    2
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    X
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    Y
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    18
                </td>
                <td class="border-2 border-gray-200 px-4 py-2 text-center">
                    Turkey
                </td>
            </tr>
        </tbody>
    </table>

    <table class="w-full">
        <thead>
            <tr>
                <th class="bg-black/10 px-4 py-2">Id</th>
                <th class="bg-black/10 px-4 py-2">FirstName</th>
                <th class="bg-black/10 px-4 py-2">LastName</th>
                <th class="bg-black/10 px-4 py-2">Age</th>
                <th class="bg-black/10 px-4 py-2">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-black/10">
                <td class="bg-black/5 px-4 py-2 text-center">
                    1
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    A
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    B
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    18
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    Turkey
                </td>
            </tr>
            <tr class="hover:bg-black/10">
                <td class="bg-black/5 px-4 py-2 text-center">
                    2
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    X
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    Y
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    18
                </td>
                <td class="bg-black/5 px-4 py-2 text-center">
                    Turkey
                </td>
            </tr>
        </tbody>
    </table>

</div>